body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* Navigation bar at the top */
.navbar {
  background-color: rgb(5, 206, 120);
  padding: 10;
  margin: 0;
  border-bottom: 1px solid rgb(5, 145, 84);
  display: block !important;
}

.green {
  background-color: rgb(5, 206, 120);
}

.darkGreen {
  background-color: rgb(3, 145, 83);
}

/* Navbar links */
.navbar a {
  font-size: 1.5rem;
  color: white;
}

.navbar a:hover {
  font-size: 1.5rem;
  color: gainsboro;
  text-decoration: none;
}

.space-out {
  margin: 5rem;
}

/*Home page background*/
.treeImg {
  top: -5%;
  z-index: 0;
  width: 70%;
  height: 70%;
  filter: saturate(0.5);
  /*background-color: lightblue;*/
}

.treeLink {
  left: 0%;
  top: 40%;
  z-index: 1;
}
.treeLink a,
.loading {
  border-radius: 4px;
  background-color: rgb(5, 206, 120);
  color: white;
  border: rgb(5, 185, 107) solid 2px;
  padding: 0.5rem;
}

/* visited family tree link */
.treeLink a:visited {
  color: white;
}

.treeLink a:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(6, 238, 138);
}

.treeBg {
  /*background-color: lightblue;*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Make grid input less spaced out*/
.margin-n {
  margin-right: -15%;
}

.loading {
  position: fixed;
  z-index: 2;
  width: 15%;
  margin: auto;
  margin-top: 5%;
  margin-left: 30%;
}

/* Admin page elements ---------------------------------------------------------------------------------------------------- */

input[type="text"] {
  width: 40%;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Media queries -------------------------------------------------------------------------------------------------------------- */

/*Links look a tad too big on small screens*/
@media only screen and (max-width: 800px) {
  a {
    font-size: 24px;
  }
}

/* Viewport specific (Default as desktop)*/
@media screen and (min-width: 769px) {
  .mobileOnly {
    display: none;
  }
  .desktopOnly {
    display: block;
  }

  .treeTitle {
    margin-left: -10rem;
    text-align: center;
  }
}

/* Phone screens */
@media screen and (max-width: 768px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  /* Viewport specific menus*/
  .mobileOnly {
    display: block;
    top: 100px;
  }
  .desktopOnly {
    display: none;
  }

  /* Link buttons */
  .familyLink {
    border-radius: 10px;
    margin: auto;
    margin-top: 1rem;
  }

  .space-out-mobile {
    margin: 5rem;
  }

  .smallFont-mobile {
    font-size: 1.5rem;
  }

  .treeLink a,
  .loading {
    background-color: rgb(29, 165, 106);
  }

  .loading {
    width: 20%;
    margin-left: 35%;
  }

  /*Make the tree just a bit bigger*/
  .treeImg {
    width: 100%;
    height: 100%;
    filter: saturate(0.25);
  }

  .treeTitle {
    display: flex;
    justify-content: center;
  }
}

/* Scrollbar ------------------------------------------------------------------------------------------------------------ */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
