// Admin page elements
input[type="text"] {
  width: 40%;
}

.logOut, .logIn{
  background-color: lightgreen;
  margin: 20px;
  margin-left: 200px;
  border: solid black 1px;
  border-radius: 4px;
}

.borders{
  border: solid rgb(255, 166, 0) 1px;
  margin-bottom: 20px;
}

.user {
  margin-left: 200px;

}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/*Make grid input less spaced out*/
.margin-n {
  margin-right: -15%;
}

/* Phone screens */
@media screen and (max-width: 768px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  /* Viewport specific menus*/
  .mobileOnly {
    display: block;
    top: 100px;
  }
  .desktopOnly {
    display: none;
  }

  .space-out-mobile {
    margin: 5rem;
  }

  .smallFont-mobile {
    font-size: 1.5rem;
  }
}

/*Links look a tad too big on small screens*/
@media only screen and (max-width: 800px) {
  a {
    font-size: 24px;
  }
}
